.group {
  display: inline-block;
  margin: 5px 25px;
  text-align: center;
  min-width: 80px;

  .number-circle {
    cursor: pointer;
    border-radius: 50%;
    background-color: #20b2aa;
    width: 42px;
    height: 42px;
    padding: 8px;
    margin: 0 auto;

    border: 2px solid;
    color: white;

    font: 32px;

    &:hover{
      opacity: 0.7;
    }
  }

  .group-name {
    margin-top: 5px;
  }

}
